<template>
  <div>
    <h2>Build your tree</h2>
    <tree :tree-data="this.$store.state.treeData" :names="names"></tree>
  </div>
</template>

<script>
  import Tree from "./Tree";


  export default {
    data: () => ({
      msg:''
    }),
    components: {
      Tree
    }
  };
</script>

<style>
  body {
    font-family: Menlo, Consolas, monospace;
    color: #444;
  }
  .item {
    cursor: pointer;
  }
  .bold {
    font-weight: bold;
  }
  ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
  }
  ul li.active {font-weight:bold; }

  div.block {height:15px; }

  h2 {text-align:center; }

</style>
