<template>
  <div v-if="name!=''" class="block">
    <p><input type="text" v-on:keyup.enter="save" v-model="name">
      <input name="idd" type="hidden"  v-model="inum">
      <button  @click="save">rename</button>
      <button  @click="remove">remove</button>
    </p>
  </div>
</template>

<script>
    export default {
        name: "nodeEdit",
      data: function () {
        return {
          open: false
        }
      },
      props: {
        name:'',
        inum:0
      },
      methods: {
        save: function () {
          let data={
            id: this.inum,
            name: this.name
          };
          this.$store.commit('save',data);
          this.name='';
          },
        remove: function () {
          let data={
            id: this.inum,
            name: this.name
          };
          this.$store.commit('remove',data);
          this.name='';
        },
        }
    }
</script>

<style scoped>

</style>
