<template>
  <li v-if="names[node.id]!=''" class="item">
    <span @click="contextMenu" @dblclick="changeType" @contextmenu.prevent="changeType" class="label">{{ names[node.id] }}</span>
    <span @click="toggle" v-if="node.children && node.children.length">[{{this.open ? '-' : '+'}}]</span>
    <ul v-show="open" v-if="node.children && node.children.length">
      <node v-for="child in node.children" :node="child" :names="names"></node>
      <span @click="addChild">+</span>
    </ul>
  </li>
</template>

<script>
  export default {
    name: "node",
    data: function () {
      return {
        open: false
      }
    },
    props: {
      node: Object,
      names: Object
    },
    computed: {
      isFolder: function () {
        return this.node.children && this.node.children.length;
      }
    },
    methods: {
      toggle: function () {
        if (this.isFolder) {
          this.open = !this.open
        }
      },
      addChild: function () {
        this.node.children.push({
          name: 'new stuff',
          id: this.names.length
        });
        this.names.push('new stuff');
      },
      changeType: function () {
        if (!this.isFolder) {
          Vue.set(this.node, 'children', []);
          this.addChild();
          this.open = true;
        }
      },
      contextMenu: function () {
        let data={
          id: this.node.id*1,
          name: this.names[this.node.id]
        };
        this.$store.commit('getid',data);
      }
    }
  };
</script>
