<template>
  <div class="tree">
    <ul class="tree-list">
      <node-tree :node="treeData" :name="name" :names="treeData.names" @bus="bus"></node-tree>
    </ul>

  <!--<div class="block">
     <p><input type="text" v-on:keyup.enter="save" v-model="name">
     <input name="idd" type="hidden"  v-model="inum">
       <button v-if="this.$store.state.name!=''" @click="saveit">save</button>
       <button v-if="this.$store.state.name!=''" @click="remove">remove</button>
     </p>
    {{name}} {{inum}}
  </div>-->
    <nodeEdit :name="this.$store.state.name" :inum="this.$store.state.idd">
    </nodeEdit>
  </div>
</template>

<script>
  import NodeTree from "./NodeTree";
  import nodeEdit from "./nodeEdit";

  export default {
    props: {
      treeData: Object,
      names: Object,
      nmm:'70'
    },
    data: function () {
      return {
        msg:'',
        name: '',
        inum: 0
      }
    },
    methods: {
      bus: function () {
        let idd = this.$store.state.idd;//console.log(dat);
        this.message = 'You right-clicked on ' + this.names[id];
        this.name = this.names[id];
        this.inum = id;
      },
      saveit: function () {
        this.names[this.inum]=this.name;
        this.names.push(
          'new stuff'
        );
      }
    },
    computed: {
     /* ifname: function() {
       /* this.name = this.$store.state.name;
        this.inum = this.$store.state.idd;*/
       // if (this.$store.state.name!='') return true;
        /*return true;
      };*/
      // tree: () => this.$store.state.treeData
    },
    components: {
      NodeTree,
      nodeEdit
    }
  };
</script>

<style>
  .tree-list ul {
    padding-left: 16px;
    margin: 6px 0;
  }
</style>
