<template>
  <div id="app">
    <img src="./assets/logo.png">
    {{msg}}
    <tree>
    </tree>
    </div>
</template>

<script>

  import tree from './tree_.vue';

  var data = {
    names:['home','tree','first','second','leaf','leaf2','leaf3','leaf4'],
    name: 'My Tree',
    id:'1',
    children: [
      { name: 'hello', id:'2' },
      { name: 'wat', id:'3' },
      {
        name: 'child folder',
        id:'4',
        children: [
          {
            name: 'child folder',
            id: '5'
          },
          {
            id:'6'
          }
        ]
      }
    ]
  };

  export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      treeData: data
    }
  },
    components: {
     tree: tree
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
